In [12]:
import pandas as pd

df = pd.read_csv('neg_reviews1.csv')
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,sentiment
0,244729,B001FA1E0O,AHPGZ6UOX9LPR,C. Ulickey,1,1,3,1265760000,A mite disappointed,I originally purchased the Mauna Loa chocolate...,-0.100
1,509895,B006WQNGV6,AYGWH6M80YZ12,John,0,0,4,1349481600,Tasted great,I like this but it sure stunk while making it....,-0.100
2,163253,B000CQID1A,APALYQ5566ZE9,dangan,1,2,5,1290729600,unless you are selling them or else don't buy ...,"I brother and I loved these slimjim, and when ...",-0.101
3,474049,B000CQC08C,A2BSLZK1166NMB,dia604,0,1,5,1237593600,2nd from the original Mococcan Mint Tea,For those who are lazy and cannot find real mi...,-0.101
4,37293,B003CK2BQG,A2BSLZK1166NMB,dia604,0,1,5,1237593600,2nd from the original Mococcan Mint Tea,For those who are lazy and cannot find real mi...,-0.101

In [19]:
df.drop_duplicates(subset = ['ProfileName'], inplace=True)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,sentiment
0,244729,B001FA1E0O,AHPGZ6UOX9LPR,C. Ulickey,1,1,3,1265760000,A mite disappointed,I originally purchased the Mauna Loa chocolate...,-0.100
1,509895,B006WQNGV6,AYGWH6M80YZ12,John,0,0,4,1349481600,Tasted great,I like this but it sure stunk while making it....,-0.100
2,163253,B000CQID1A,APALYQ5566ZE9,dangan,1,2,5,1290729600,unless you are selling them or else don't buy ...,"I brother and I loved these slimjim, and when ...",-0.101
3,474049,B000CQC08C,A2BSLZK1166NMB,dia604,0,1,5,1237593600,2nd from the original Mococcan Mint Tea,For those who are lazy and cannot find real mi...,-0.101
6,89367,B001EQ5QNA,A3NZ2AZ98RVF67,Judith R. Brown,0,1,1,1259712000,Ugh!,I had this type of nut while visiting Californ...,-0.101

In [21]:
values = [4,5]
#dropping
df = df[df.Score.isin(values) == False]
print(len(df))

8201

In [22]:
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,sentiment
0,244729,B001FA1E0O,AHPGZ6UOX9LPR,C. Ulickey,1,1,3,1265760000,A mite disappointed,I originally purchased the Mauna Loa chocolate...,-0.100
6,89367,B001EQ5QNA,A3NZ2AZ98RVF67,Judith R. Brown,0,1,1,1259712000,Ugh!,I had this type of nut while visiting Californ...,-0.101
8,229664,B001KUQG3O,A3GUJ82L0MW5Z9,AZ,0,0,1,1309219200,not worth the money,This peanut butter isn't cheap and it's awful!...,-0.101
9,450580,B000UY0JIY,A1ZR2NJX5LRDP8,Astrid van Beek,2,2,1,1317427200,Yuch!,"I love fresh smoked eel, but this stuff is GRO...",-0.101
14,18964,B001H1GUVO,A259BOG08D9CG5,"D. Macintyre ""Maine Owner""",2,3,1,1309219200,Poor Delivery System,I need a repellent to keep the ants from climb...,-0.101

In [23]:
df.to_csv('updated_neg.csv', index = False)

In [28]:
import matplotlib.pyplot as plt
from wordcloud import WordCloud,STOPWORDS
from nltk.corpus import stopwords
import sys, os
os.chdir(sys.path[0])

# Read CSV file into a pandas DataFrame
df2 = pd.read_csv('updated_neg.csv')

# Extract text from a specific column
updated_neg = df2['Text'].to_string(index=False)

# Save the text to a text file
with open('updated_neg.txt', 'w', encoding='utf-8') as file:
    file.write(updated_neg)
    
text1 = open('updated_neg.txt', mode = 'r', encoding = 'utf-8').read()
stopwords = set(stopwords.words('english'))

wc = WordCloud(
        background_color = 'white',
        stopwords= stopwords,
        height = 600,
        width = 400)

wc.generate(text1)
wc.to_file('updated_neg.png')